.filter__wrap
    position: relative
    display: flex
    margin-bottom: 20px
    padding: 20px
    border-bottom: 1px solid #ccc
    border-top: 1px solid #ccc

.filter__param
    display: flex
    justify-content: space-between
    margin-left: 20px

.select__body
    position: relative
    user-select: none
    width: 100%
    min-width: 200px
    display: flex
    flex-direction: column

.select__screen
    padding: 5px
    border: 1px solid #454545
    border-radius: 3px

.select__body.is-open .select__screen
    border-radius: 3px 3px 0 0

.select__screen.is-selected
    

.select__options
    position: absolute
    display: block
    top: 100%
    left: 0
    right: 0
    z-index: 2
    opacity: 0
    visibility: hidden
    margin-top: -1px
    padding: 5px 10px
    border: 1px solid #454545
    border-radius: 0 0 3px 3px
    background: #fff
    transition: all 0.3s

.select__body.is-open .select__options
    opacity: 1
    visibility: visible

.select__option
    line-height: 1.7