@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "./popup/_popup";

.header {
  margin-bottom: 40px;
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 0;
}
  

// logo
.logo {
  margin-right: auto;
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__icon {
  display: inline-block;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.logo__text {
  font-family: "Racing";
  font-size: 20px;
  color: #6495ed;
}

// end logo

// sign
.sign {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.sign__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

// end sign

// menu

nav {
  position: relative;
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
}

nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  border-bottom: 3px solid #bbb;
  width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  font-family: "Lato_bd";
  font-size: 18px;
  color: #636363;
  text-decoration: none;
}

// end menu

// search
.search {
  margin-top: -12px;
}

.search__form {
  position: relative;
}

.search__form__input {
  border: none;
  border-bottom: 1px solid #949494;
  padding: 3px 30px 3px 10px;
  color: #949494;
}

.search__form__input:focus {
  outline: none;
}

.search__form__submit {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.005 512.005'%3E%3Cpath d='M508.885 493.784L353.109 338.008c32.341-35.925 52.224-83.285 52.224-135.339C405.333 90.925 314.41.002 202.666.002S0 90.925 0 202.669s90.923 202.667 202.667 202.667c52.053 0 99.413-19.883 135.339-52.245l155.776 155.776a10.645 10.645 0 007.552 3.136c2.731 0 5.461-1.045 7.552-3.115a10.7 10.7 0 00-.001-15.104zM202.667 384.003c-99.989 0-181.333-81.344-181.333-181.333S102.677 21.336 202.667 21.336 384 102.68 384 202.669s-81.344 181.334-181.333 181.334z' fill='%23949494'/%3E%3C/svg%3E") no-repeat;
  cursor: pointer;
}

// end search

// content part

// filter
.cards-row {
  display: flex;
  margin: 0 -15px;
}

.cards {
  overflow: hidden;
  margin: 0 15px 30px;
  border-radius: 10px;
  width: calc((100% - 120px) / 4);
  box-shadow: 0 4px 16px rgba(0, 0, 0, .3);
}

.cards__picture {
  overflow: hidden;
  max-height: 155px;
}

.cards__picture__img {
  min-height: 155px;
}

.cards__info {
  padding: 20px 20px 30px;
}

.cards__title {
  margin-top: 0;
  color: #5a5a5a;
}

.cards__info__type {
  position: relative;
  z-index: 1;
  padding-right: 3px;
  background-color: #fff;
}

.cards__info__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Lato_bd";
  font-size: 14px;
  background-color: #fff;
}

.cards__info__text::before {
  content: ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  font-family: "Lato_rg";
  font-size: 12px;
  letter-spacing: 0.1px;
}

.cards__info__data {
  position: relative;
  z-index: 1;
  margin-left: 10px;
  padding-left: 3px;
  font-family: "Lato_rg";
  background-color: #fff;
}

.cards__price {
  margin: 20px 0;
  text-align: center;
}

.cards__price__value {
  font-family: "Lato_bd";
  font-size: 18px;
}

.cards__price__symb {
  font-family: "Lato_rg";
  font-size: 18px;
}

.cards__more {
  text-align: center;
}

.cards__more__link {
  border-radius: 7px;
  padding: 10px 18px;
  text-decoration-color: transparent;
  font-family: "Lato_rg";
  font-size: 16px;
  line-height: 1.375;
  color: #fff;
  background-color: #6aba88;
}

.cards__more__link:hover {
  text-decoration: none;
  text-decoration-color: transparent;
}

// end filter

// end content part